<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ respuesta4 }}</title>
</head>
<body>
    <h1>Respuesta</h1>
    <table class="table table-hover">
        <tr>
            <td width="250px">
                RESPUESTA
            </td>
            <td>
                {{ respuesta3 }}
            </td>
        </tr>
        <tr>
            <td width="250px">
                NÚMERO AUTORIZACIÓN
            </td>
            <td>
                {{ numaut }}
            </td>
        </tr>
        <tr>
            <td width="250px">
                NÚMERO OPERACIÓN
            </td>
            <td>
                {{ numop }}
            </td>
        </tr>
        <tr>
            <td width="250px">
                MONTO
            </td>
            <td>
                {{ importe }}
            </td>
        </tr>
        <tr>
            <td width="250px">
                TARJETA
            </td>
            <td>
                {{ tarjeta }}
            </td>
        </tr>
        <tr>
            <td width="250px">
                TERMINACIÓN
            </td>
            <td>
                {{ numtarj }}
            </td>
        </tr>
    </table>
</body>
</html>